@font-face {
    font-family: 'wondertype';
    src: url(../font/wondertype.otf);
}

@font-face {
    font-family: 'v50-regular';
    src: url(../font/version50_regular.ttf);
}

@font-face {
    font-family: 'v50-bold';
    src: url(../font/version50_bold.ttf);
}

:root {
    --color-primary: #00f40d;
    --color-background: #0D0D0D;

    --color-text-primary: #FFFFFF;
    --color-text-secondary: #CED0CE;

    --font-primary: 'v50-regular';
    --font-secondary: 'v50-bold';
    --font-big: 'wondertype';
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-big);
    color: var(--color-text-primary);
    margin: 0;
    text-align: center;
    width: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page {
    position: relative;
    display:none;

    height: 100%;
    width: 100vw;

    padding: 16px;
    padding-bottom: calc(32px + 16px);

    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.page.active {
    display: flex;
}

button, .button {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;

    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-sm {
    font-family: var(--font-secondary);
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

body.navhidden {
    padding-bottom: 0;
}

body.navhidden nav {
    display: none;
}

body.navhidden .page {
    padding-bottom: 16px;
}

nav {
    /* background-color: var(--color-text-primary); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 32px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

nav>button {
    background: none;
    border: none;
    padding: 4px;
}

.caption {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 32px 0;
    gap: 16px;
}

.flex-group {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    align-items: center;

    text-align: center;
}

.txt.secondary {
    font-family: var(--font-secondary);
    color: var(--color-text-secondary);
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}

input[type="text"] {
    font-family: var(--font-secondary);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    border: 2px solid var(--color-text-primary);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.input-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-text .err {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 0.8em;
}

.illustration {
    margin: auto auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}

.illustration-clock {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}

.illustration-clock>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
    text-align: center;
    padding: 16px;
    font-family: var(--font-secondary);
    background-color: var(--color-text-secondary);
    color: var(--color-background);
    margin: 0 auto;
}

/* Event related */

#overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    font-family: var(--font-big);
    font-size: 3em;
}

#overlay img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    background-color: var(--color-background);
}

#overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);
}

@keyframes flashing {
    0%, 25% {
        background-color: auto;
    }
    25%, 75% {
        background-color: var(--color-background);
    }
    100% {
        background-color: auto;
    }
}

#overlay.flashing {
    animation: flashing 300ms step-end infinite;
}

#nextevent-countdown {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

#nextevent-countdown>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#nextevent-countdown .number {
    font-size: 3em;
    font-family: var(--font-big);
    color: var(--color-primary);
}


#nextevent-countdown .label {
    font-family: var(--font-secondary);
    color: var(--color-text-secondary);
}

#event-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 16px 0;
    overflow-y: scroll;
}

.event-list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-background);
}

/* Special events */

#coords-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#coords-map-overlay {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    pointer-events: none;

}

#coords-map-overlay * {
    pointer-events: auto;
}

#color-selection, #text-selection {
    height: 100%;
    width: 100%;
    display: flex;
}

#color-selection>div {
    width: 100%;
    height: 100%;
}

#text-selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#text-selection>div {
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    gap: 8px;
    align-items: center;
    border: solid 1px var(--color-text-primary);
    padding: 8px;
    border-radius: 8px;
}

#image-selection {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#image-selection>div {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    background-size: cover;
    background-position: center;
}

/* Sub pages */

#notifications {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 16px 0;
    overflow-y: scroll;
}

#notifications>div {
    display: flex;
    gap: 8px;
    align-items: top;
    width: 100%;
    background-color: var(--color-text-secondary);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
}

#notifications>div>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#notifications>div .light {
    font-family: var(--font-primary);
    color: var(--color-background);
}

#notifications>div .bold {
    font-family: var(--font-secondary);
    color: var(--color-background);
}

#qr-code {
    width: 100%;
    max-width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}

#qr-code img {
    max-width: 90vh;
}

#mon-avatar-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

#mon-avatar-container img {
    width: 100%;
}

#mon-avatar-container button {
    position: absolute;
    bottom: 8px;
    left: 8px
}

/* Avatar creation */
/* */

.video-container {
    width: 100%;
    height: fit-content;
    position: relative;
}

#media-stream {
    width: 100%;
    height: auto;
}

#media-reload {
    position:absolute;
    left: 50%;
    bottom: 0;
}

#create-avatar-preview {
    max-width: 100%;
    margin: 0 auto;
}

/* Leaflet related */
/* */

.leaflet-popup-content-wrapper {
    background-color: var(--color-primary) !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    color: var(--color-background) !important;
    font-family: var(--font-secondary);
    font-size: 1.2em;
    text-align: center;
}

.leaflet-popup-tip {
    background-color: var(--color-primary) !important;
}

.leaflet-popup-close-button {
    color: var(--color-background) !important;
}

/* Messages overlay */

#unread-notifications-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: var(--color-background);
    overflow: hidden;
}

#unread-notifications-container.hidden {
    display: none;
}

.unread-notification {
    height: 100%;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
}