#media-list {
    padding: 16px;
    width: 100%;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    gap: 16px;
    margin-bottom: auto;
}

#media-list img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black var(--bg-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

#overlay.show {
    display: block;    
}

#return {
    position: fixed;
    top: 16px;
    left: 16px;
    opacity: 0.5;
    border: solid 1px white;
    color: white;
    background-color: black;
    padding: 4px 8px;
    user-select: none;
    display: none;
    z-index: 10;
}

#return.show {
    display: block;
}