:root {
    --col-bg: #0e0e0e;
    --col-main: #fffbef;
}

body {
    padding: 16px;
    background-color: var(--col-bg);
    color: var(--col-main);

    font-family: sans-serif;
}

#boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;    
}

.box {
    border-radius: 8px;
    padding: 16px;
    background-color: var(--col-bg);
    box-shadow: 0 0px 4px 0 var(--col-main);
}

.box .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content.scroll {
    overflow-y: scroll;
    height: 256px;
}

h1 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

/* === Input styles === */

button {
    padding: 8px;

    border: solid 2px var(--col-main);
    color: var(--col-main);
    background-color: var(--col-bg);
    stroke: var(--col-main);

    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}

hr {
    background-color: var(--col-main);
    height: 2px;
    width: 100%;
}

.input_field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px
}

input[type="checkbox"] {
    width: 32px;
    height: 32px;

    accent-color: var(--col-bg);
    outline: solid 2px var(--col-main);
    outline-offset: -2px;

    aspect-ratio: 1/1;

    cursor: pointer;
}

label {
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

}

input[type="text"], textarea {
    width: 100%;
    height: 100%;

    padding: 8px;

    color: var(--col-main);
    background-color: var(--col-bg);
    border: solid 2px var(--col-main);
}

textarea {
    height: 100%;
}

.space {
    height: 100%;
}

select {
    width: 100%;

    color: var(--col-main);
    background-color: var(--col-box-bg);
    border: solid 2px var(--col-main);

    padding: 8px;
    border-radius: 4px;
}

option {
    background-color: var(--col-main);
    color:var(--col-bg);
}

option:hover {
    background-color: var(--col-txt-gray);
    color:var(--col-bg);
}

.message {
    display: flex;
    gap: 16px;

    cursor: crosshair;
}

.message .username {
    opacity: 0.5;
}