
body {
    background: black;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#container {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#touchpad {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #f0f0f0;
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: crosshair;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.control {
    background: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#status {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: #f0f0f0;
    font-size: 14px;
}